NURTURA_DB_HOST=localhost
NURTURA_DB_PORT=5432
NURTURA_DB_NAME=nurtura
NURTURA_DB_USERNAME=nurtura_app
NURTURA_DB_PASSWORD=nurtura_dev_password

NURTURA_ADMIN_USERNAME=admin@nurtura.local
NURTURA_ADMIN_PASSWORD=ChangeMe123!
NURTURA_TEACHER_USERNAME=teacher@nurtura.local
NURTURA_TEACHER_PASSWORD=ChangeMe123!

